version: "3.1"

services:
  postgres:
    image: postgres:15
    container_name: postgres
    ports:
      - "5431:5432"
    environment:
        - POSTGRES_USER=user
        - POSTGRES_PASSWORD=12345
        - POSTGRES_DB=db
    volumes:
        - postgres_data:/var/lib/postgresql/data
    restart: always
    networks:
        - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
